*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fl{
    float: left;
}

.new{
    float: left;
    margin-left: 2%;
}

.fr1{
    float: right;
}

.fr{
    float: right;
    margin-right: 5%;
}

.clr{
    clear: both;
}


/* image slider start */

header{
    position: relative;
    /* margin-bottom: 200vh; */
}

.owl-carousel{
    width: 100%;
    height: 90vh;
}

.slide{
    width: 100%;
    height: 90vh;
    position: relative;
}

.slide-1{
    background-image: url(images/banner1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.slide-2{
    background-image: url(images/banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.slide-3{
    background-image: url(images/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.owl-dots{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 12vh;
}

.owl-dots span{
    width: 10px !important;
    height: 10px !important;
}

.owl-dots button{
    border: none !important;
    outline: none !important;
}

.owl-prev, .owl-next{
    border: none !important;
    background: none !important;
}


.owl-prev{
    position: absolute;
    font-size: 60px !important;
    color: white !important;
    top: 45%;
    left: 1%;
}

.owl-next{
    position: absolute;
    font-size: 60px !important;
    color: white !important;
    top: 45%;
    right: 1%;
}
/* image slider end */

.head{
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 2000;
    background-color: black;
}

#lines{
    cursor: pointer;
    display: inline;
    margin-top: 8px;
    margin-left: 2%;
}

#line1{
    width: 35px;
    height: 4px;
    background-color: #EFC509;
    margin-bottom: 5px;
}
#line2{
    width: 28px;
    height: 3.5px;
    background-color: #EFC509;
    margin-bottom: 5px;
}
#line3{
    width: 18px;
    height: 4px;
    background-color: #EFC509;
    margin-bottom: 5px;
}

.nav{
    position: relative;
}

.nav ul li{
    display: inline-block;
    line-height: 40px;
    margin-right: 20px;
}

.nav ul li a{
    text-decoration: none;
    color: white;
}

.nav .fa-map-marker-alt{
    margin-right: 15px;
}

.nav #search{
    margin-right: 40px;
    width: 250px;
    border: none;
    background: none;
    outline: none;
    padding: 5px;
    display: none;
    color: white;
}

.nav #signup{
    position: absolute;
    left: -600px;
}

.nav #signup i{
    margin-right: 10px;
}

.nav #discount{
    position: absolute;
    left: -850px;
}

.nav #discount .fa-tag{
    margin-right: 10px;
}

.nav .fa-greater-than{
    font-size: 10px;
}


header #side-nav{
    position: absolute;
    top: 40px;
    width: 15%;
    height: 90vh;
    display: none;
    z-index: 1000;
    color: white;
    background-color: rgb(54, 54, 54);
}

#side-nav p{
    width: 100%;
    background-color: #EFC509;
    padding: 4% 0;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    /* border-radius: 0 10px 0 0; */
    outline: none;
    border: none;
    cursor: default;
}

#side-nav ul li{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
    line-height: 50px;
}

#side-nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#side-nav ul li:hover{
    background-color: rgb(22, 22, 22);
}



/* location section start */
#loc{
    display: none;
    width: 600px;
    height: 230px;
    position: absolute;
    top: 30vh;
    z-index: 1000;
    left: 28%;
    background-color: white;
    color: white;
}

#loc h2{
    line-height: 60px;
    width: 100%;
    height: 60px;
    background-color: #E16B5B;
    text-align: center;
}

#loc h2 i{
    font-size: 12px;
    margin-top: 25px;
    cursor: pointer;
}

#loc #sel{
    margin: 60px 100px;
    width: 400px;
    font-size: 16px;
    padding: 5px;
    outline: none;
}

/* location section end */

/* sign up section start */

#sgup{
    z-index: 1000;
    position: absolute;
    top: 20vh;
    left: 29%;
    width: 600px;
    height: 380px;
    background-color: white;
    display: none;
}

#sgup h2{
    line-height: 60px;
    width: 100%;
    height: 60px;
    background-color: #E16B5B;
    text-align: center;
    color: white;
}

#sgup h2 i{
    font-size: 12px;
    margin-top: 25px;
    cursor: pointer;
}

#sgup #uname{
    width: 90%;
    margin: 30px 5% 0 5%;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid black;
}
#sgup #uid{
    outline: none;
    width: 90%;
    margin: 10px 5%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid black;
}
#sgup #pass{
    outline: none;
    width: 90%;
    margin: 10px 5%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid black;
}

#sgup #cbox{
    margin-left: 5%;
    margin-top: 10px;
}

#sgup .rem{
    color: rgba(0, 0, 0, 0.637);
    font-size: 20px;
}

#sgup .btn3{
    text-align: center;
    margin: 25px;
}

#sgup #btn3{
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    background-color: #EFC509;
    color: white;
    cursor: pointer;
}

#sgup #btn3:hover{
    background-color: #E16B5B;
}

/* sign up section end */

/* discount on new car section start */

#dis{
    position: absolute;
    top: 15vh;
    left: 20%;
    z-index: 1000;
    width: 750px;
    height: 400px;
    display: none;
    background-color: white;
}

#dis .upper{
    width: 100%;
    height: 150px;
    text-align: center;
    color: white;
    background-color: #E16B5B;
}

#dis .upper h2{
    margin-left: 6%;
    font-weight: 400;
    padding: 20px 0 5px 0;
}

#dis .upper p{
    font-size: 18px;
    margin-bottom: 20px;
}

#dis .upper select{
    font-size: 16px;
    padding: 10px 5px;
    width: 55%;
    outline: none;
    border: none;
}

#dis .upper .sp{
    /* margin-top: 10px; */
    font-size: 14px;
    cursor: pointer;
}

#dis .upper input{
    font-size: 16px;
    padding: 10px 5px;
    width: 25%;
    outline: none;
    border: none;
}

#dis .down{
    padding: 20px 20px;
    text-align: center;
}

#dis .down h2{
    font-weight: 400;
    margin-bottom: 10px;
}

#dis .down input{
    width: 30%;
    padding: 10px;
    font-size: 16px;
}

#dis .down .para1{
    margin-top: 20px;
    margin-bottom: 20px;
}

#dis .down button{
    width: 90%;
    font-size: 20px;
    outline: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: #EFC509;
    color: white;
}

#dis .down .para1 input[type = 'checkbox']{
    width: 30px;
    margin-top:5px;
}

/* discount on new car section end */

/* login section start */
#log{
    display: none;
    z-index: 1000;
    width: 25%;
    height: 400px;
    position: absolute;
    right: 10px;
    top: 15vh;
    background-color: white;
    text-align: center;
}

#log h2{
    width: 100%;
    height: 80px;
    background-color: #E16B5B;
    font-size: 30px;
    line-height: 80px;
    color: white;
    font-weight: 400;
    margin-bottom: 40px;
}

#log .inp{
    width: 90%;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

#log .para2{
    text-align: left;
    margin-left: 5%;
    font-size: 20px;
    word-spacing: 5px;
}

#log #btn5{
    margin-top: 30px;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #EFC509;
    color: white;
    cursor: pointer;
}

/* login section end */


/* banner-text section start */
.banner-text{
    position: absolute;
    top: 25vh;
    left: 30%;
    text-align: center;
    font-size: 30px;
    z-index: 1;
    color: white;
}

.banner-text a{
    text-decoration: none;
    font-size: 40px;
    color: white;
}


.banner-text .color1{
    color: #EFC509;
}

.banner-text .family{
    font-family: 'Wallpoet', cursive;
}

.banner-text p{
    margin-bottom: 5px;
}

.banner-text .btext2{
    font-size: 24px;
}

.banner-text #s1{
    width: 250px;
    font-size: 18px;
    padding: 10px;  
    /* border: none; */
    outline: none;
}

.banner-text #s2{
    width: 200px;
    font-size: 18px;
    padding: 10px;   
    /* border: none; */
    outline: none;
    margin-left: -10px;
}

.banner-text button{
    /* width: 150px; */
    font-size: 19.5px;
    color: white;
    margin-left: -9px;
    padding: 10px;
    background-color: #EFC509;
    outline: none;
    cursor: pointer;
    border: none;
}

.banner-text button:hover{
    background-color: #E16B5B;
}



/* banner-text section end */


/* feature section start */

.feature-section{
    width: 100%;
    height: 140vh;
    padding: 10vh;
}

.feature-section h1{
    text-align: center;
    margin-bottom: 10vh;
}

.feature-section ul{
    border-bottom: 1px solid black;
    text-align: center;
}

.feature-section ul li{
    display: inline-block;
    font-size: 22px;
    padding: 20px 30px;
    cursor: pointer;
}

#tbtn1{
    margin-left: 10%;
    color: #E16B5B;
}


#tbtn3{
    margin-right: 10%;
}

/* upcoming section start */

#upcoming-car{
    width: 100%;
    height: 100vh;
    padding: 10vh 0 10vh 0;
    /* margin-top: 10vh; */
}

#upcoming-car #up-Product #pro1{
    width: 32%;
    height: 80vh ;
    border: 1px solid black;
}

#upcoming-car #up-Product #pro1 #p1up img{
    width: 100%;
    height: 300px;
}

#upcoming-car #up-Product #pro1 #p1dn{
    text-align: center;
    padding: 10px;
}

#upcoming-car #up-Product #pro1 #p1dn h2{
    color: #E16B5B;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
}

#upcoming-car #up-Product #pro1 #p1dn h3{
    font-size: 18px;
    margin-bottom: 5px;
    /* font-weight: 600; */
}

#upcoming-car #up-Product #pro1 #p1dn p{
    font-size: 16px;
    margin-bottom: 5px;
}





/* upcoming section end */



/* popular section start */

#popular-car{
    width: 100%;
    height: 100vh;
    padding: 10vh 0 10vh 0;
    /* margin-top: 10vh; */
    display: none;
}


#popular-car #popular-Product #pro1{
    width: 32%;
    height: 80vh ;
    border: 1px solid black;
}

#popular-car #popular-Product #pro1 #p1up img{
    width: 100%;
    height: 300px;
}

#popular-car #popular-Product #pro1 #p1dn{
    text-align: center;
    padding: 10px;
}

#popular-car #popular-Product #pro1 #p1dn h2{
    color: #E16B5B;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
}

#popular-car #popular-Product #pro1 #p1dn h3{
    font-size: 18px;
    margin-bottom: 5px;
}

#popular-car #popular-Product #pro1 #p1dn p{
    font-size: 16px;
    margin-bottom: 5px;
}





/* upcoming section end */


/* just launched section start */

#just-car{
    width: 100%;
    height: 100vh;
    padding: 10vh 0 10vh 0;
    /* margin-top: 10vh; */
    display: none;
}


#just-car #just-Product #pro1{
    width: 32%;
    height: 80vh ;
    border: 1px solid black;
}

#just-car #just-Product #pro1 #p1up img{
    width: 100%;
    height: 300px;
}

#just-car #just-Product #pro1 #p1dn{
    text-align: center;
    padding: 10px;
}

#just-car #just-Product #pro1 #p1dn h2{
    color: #E16B5B;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
}

#just-car #just-Product #pro1 #p1dn h3{
    font-size: 18px;
    margin-bottom: 5px;
}

#just-car #just-Product #pro1 #p1dn p{
    font-size: 16px;
    margin-bottom: 5px;
}

/* just launched section end */




/* feature section end */


/* contact section start */

.contact{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(images/banner1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contact .back{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.contact .form{
    position: absolute;
    right: 10%;
    top: 10vh;
    width: 400px;
    height: 450px;
    background-color: white;
    padding: 40px;
}

.contact .form h2{
    margin: 20px 0;
    text-align: center;
    font-size: 20px ;
    font-weight: 200;
    color: #E16B5B;
}

.contact .form input{
    width: 100%;
    font-size: 16px;
    padding: 5px;
    outline: none;
    border: 1px solid grey;
    margin: 10px 0;
}

.contact .form select {
    width: 100%;
    font-size: 16px;
    padding: 5px 0;
    outline: none;
    border: 1px solid grey;
    margin:  10px 0;
}

.contact .form input[type='button']{
    margin-top: 20px;
    outline: none;
    border: none;
    padding: 15px 0;
    background-color: #E16B5B;
    color: white;
    cursor: pointer;
}

.contact .form input[type='button']:hover{
    background-color: #EFC509;
}

/* contact section end */

/* latest car section start */

.latest-car{
    width: 90%;
    height: 130vh;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 10vh;
}

.latest-car h2{
    text-align: center;
    padding: 40px;
    font-weight: 600;
}

.latest-car .blog-section{
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
}
.latest-car .blog-section .upper-section{
    width: 100%;
    margin-bottom: 5vh;
    height: 48.5vh;
}

.latest-car .blog-section .upper-section .text{
    width: 63%;
    text-align: justify;
}

.latest-car .blog-section .bottom-section{
    width: 100%;
    height: 48.5vh;
}


.latest-car .blog-section .bottom-section .text{
    width: 63%;
    text-align: justify;
}

.latest-car .blog-section h3 a{
    text-decoration: none;
    font-weight: 200;
    color: #E16B5B;
}

.latest-car .blog-section h3{
    margin-bottom: 10px;
}

.latest-car .blog-section p{
    font-size: 16px;
    color: grey;
    margin-bottom: 20px;
}

.latest-car .blog-section button{
    outline: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgb(48, 47, 47);
}

.latest-car .blog-section button a{
    text-decoration: none;
    color: white;
}

.latest-car .blog-section button:hover{
    background-color: #E16B5B;
}



/* latest car section end */


/* footer section start */
footer{
    width: 100%;
    height: 90vh;
    background-color: #252727;
}

footer .foot-section{
    width: 90%;
    position: relative;
    height: 90vh;
    margin: auto;
    /* border: 1px solid red; */
    padding: 5vh 0;
}

footer .foot-section .col{
    width: 32%;
    height: 50vh;
    /* border: 1px solid red; */
}

footer .foot-section .col1 h3{
    color: white;
    display: inline-block;
    font-weight: 200;
    border-bottom: 1px solid grey;
    padding: 10px 0;
}

footer .foot-section .col1 ul li{
    color: grey;
    margin: 20px 0;
    font-size: 14px;
    line-height: 20px;
    list-style: none;
}


footer .foot-section .col2 h3{
    color: white;
    display: inline-block;
    font-weight: 200;
    border-bottom: 1px solid grey;
    padding: 10px 0;
}

footer .foot-section .col2 ul li{
    color: grey;
    margin: 20px 0;
    font-size: 14px;
    line-height: 20px;
    list-style: none;
}

footer .foot-section .col2 ul li i{
    margin-right: 10px ;
    font-size: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 50%;
    padding: 6px;
}

footer .foot-section .col2 ul li a{
    text-decoration: none;
    color: grey;
}

footer .foot-section .col3 h3{
    color: white;
    display: inline-block;
    font-weight: 200;
    border-bottom: 1px solid grey;
    padding: 10px 0;
}

footer .foot-section .col3 ul li{
    list-style: none;
}

footer .foot-section .col3 ul{
    margin: 20px 0;
}

footer .foot-section .col3 ul li a{
    text-decoration: none;
    color: grey;
}

footer .foot-section .col3 ul li a span{
    width: 65%;
    height: 70px;
}

footer .foot-section .col3 ul li a span:hover{
    color: black;
}

footer .foot-section .last-section{
    text-align: center;
}

footer .foot-section .last-section h2{
    border-bottom: 1px solid grey;
    margin-top: 50px;
}

footer .foot-section .last-section a{
    display: inline-block;
    text-decoration: none;
    font-size: 40px;
    color: grey;
    width: 400px;
    background-color: #252727;
    position: absolute;
    top: 57vh;
    left: 35%;
    letter-spacing: 5px;
}

footer .foot-section .last-section a .small{
    font-size: 16px;
}

footer .foot-section .lpara{
    text-align: center;
    margin-top: 18vh;
    color: grey;
    font-size: 16px;
}



/* footer section end */